.offer {
    background-position: center 25%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 32px;
    border-radius: 10px;

    color: white;
    font-weight: 600;
    font-size: 24px;
}