@import "../../styles/base/variables.module.scss";

#notur {
  box-shadow: 0px 0px 26.200000762939453px 0px #00000040 inset;

  margin-bottom: 48px;
}

.notur {
  margin-top: 48px;
  flex-direction: column;

  font-family: "Open Sans";

  &__image {
    background-image: url("../../img/about1.png");
    background-repeat: no-repeat;
    background-size: 35% auto;
    background-position: bottom right;

    @media (max-width: $mobileBreakpoint) {
      background-image: none;
    }
  }

  &__content {
    position: relative;
    margin: 48px 0 96px 0;
    p {
      max-width: 752px;
    }

    .content__mobileimg {
      display: none;
      width: 75%;
      max-width: 240px;
      margin: 0 auto;
      user-select: none;

      @media (max-width: $mobileBreakpoint) {
        display: block;
      }
    }

    .content__title {
      margin: 88px 0 24px 0;
      line-height: normal;
      font-family: $fontFamilyTitle;
    }

    .content__text {
      margin-top: 0;
      max-width: 480px;
    }

    .content__button {
      border-radius: 76px;
      margin-top: 128px;

      padding: 16px 32px;
      font-family: inherit;
      color: #00000099;

      box-shadow: 0px 4px 4px 0px #00000040;

      @media (max-width: $mobileBreakpoint) {
        width: 100%;
      }
    }
  }
}
