.cardslist {
  margin-top: -10px;
  padding: 35px 43px 71px;
  background-color: white;
  &__scrollable {
    overflow-x: hidden;

    gap: 12px;

    border-radius: 10px;
    overflow: hidden;
  }
}
