.tags {
  padding: 3px 20px;
  border-radius: 91px;
  gap: 16px;
  text-wrap: nowrap;
  user-select: none;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.tags_aside {
  padding: 0 12px;
  border-radius: 91px;
  gap: 12px;
  text-wrap: nowrap;
  user-select: none;
  height: 23px;
  &.bl {
    background-color: rgba(0, 28, 34, 1);
    svg {
      path {
        stroke: rgba(255, 255, 255, 1);
      }
    }
  }
}
