@import "../../styles/base/variables.module.scss";

.tur {
  & #preview .pd {
    padding: 0 6.37rem;
    // padding: 0;
    @media (max-width: $mobileBreakpoint) {
      padding: 0 20px;
    }
  }
  .section__title {
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    font-weight: 600;
  }
  &__about {
    .showMore__btn {
      gap: 10px;

      align-items: center;
      color: rgba(0, 68, 120, 1);
      margin-top: 24px;
      svg {
        transform: rotate(180deg);
      }

      &.opn {
        svg {
          transform: rotate(360deg);
        }
      }
    }
    .tur__photo {
      max-width: 754px;
      max-height: 390px;
    }
  }

  .preview__body {
    padding: 240px 0 32px 0;
    .preview__text {
      gap: 24px;
      align-items: end;
      
      .tur__name {
        font-weight: 600;
      }
      .tur__price{
        padding: 17px 56px;
        color: rgba(0, 28, 34, 1);
        border-radius: 87px;
      }

      @media (max-width: $mobileBreakpoint) {
        padding: 0 20px;
        flex-direction: column;
        align-items: start;
      }
    }
    
  }

  #photos, #about-tur, #add-info, #add-tags, #map, #comments {
    padding: 0;
    & > div {
      padding: 0 6.37rem;
    }
    @media (max-width: $mobileBreakpoint) {
      & > div {
        padding: 0 20px;
      }
    }
  }

  #tags {
    margin: 24px auto;
    padding: 0 6.37rem;
    @media (max-width: $mobileBreakpoint) {
      padding: 0;
    }
  }

  &__map {
    .map__feedback {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}


.tur * {
  // outline: 1px dashed rgba(0, 0, 0, .25);
}