@import "../../styles/base/variables.module.scss";

.tur {
  &__about {
    .Collapsible {
      display: flex;
      flex-direction: column-reverse;
    }
    .tur__photo {
      max-width: 754px;
      max-height: 390px;
    }
  }

  .preview__body {
    padding: 232px 0 36px;
    .preview__text{
      align-items: end;
    }
  }

  &__map{
    .map__feedback{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
