@import '../../styles/base/variables.module.scss';

#feature {
    box-shadow: 0px -1px 21.600000381469727px 0px #00000040 inset;
}

.feature{
    margin: 88px auto 0 auto;
    flex-direction: column;

    background-image: url('../../img/featureGlobe.png');
    background-repeat: no-repeat;
    background-size: 32.5% auto;
    background-position: center right;
    padding-bottom: 64px;

    @media (max-width: $mobileBreakpoint) {
        background-image: none;
    }

    &__content{
        margin-top: 48px;
        p{
            max-width: 752px;
            @media (max-width: $mobileBreakpoint) {
                max-width: 100%;
            }
        }

        .content__mobileimg {
            display: none;
            width: 100%;
            max-width: 480px;
            margin: 0 auto;
            user-select: none;

            @media (max-width: $mobileBreakpoint) {
                display: block;
            }
        }

        .content__title {
            margin: 88px 0 32px 0;
            line-height: normal;
            font-family: $fontFamilyTitle;
        }

        .content__text{
            margin-top: 0;
            @media (max-width: $mobileBreakpoint) {
                font-size: 24px;
            }
        }

        .content__button{
            border-radius: 76px;
            margin-top: 64px;
            padding: 20px 128px;
            box-shadow: 0px 4px 8px 0px #02640080;
            font-family: inherit;
            & a {
                color: inherit;
            }

            @media (max-width: $mobileBreakpoint) {
                padding: 20px;
                width: 100%;
                font-size: 24px;
            }
        }
    }
}