@import "../../styles/base/variables.module.scss";

.header {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;

    @media screen and (max-width: $mobileBreakpoint) {
        justify-content: space-between;
        padding-top: 24px;
        padding-bottom: 25px;
    }

    &__logo {
        user-select: none;
        @media screen and (max-width: $mobileBreakpoint) {
            order: 2;
            img {
                width: 128px;
            }
        }
    }
    &__i18n {
        color: $fontWh;
        margin-left: 14px;
        font-weight: 400;
        button {
            display: flex;
            align-items: center;
            font-family: inherit;
            font-size: inherit;
            color: inherit;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            order: 1;
        }
    }

    &__list {
        flex: 1 1 auto;
        gap: 24px;

        .header__href {
            color: rgba(255, 255, 255, 1);
            padding: 10px;
            text-align: center;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            display: none;
        }
    }

    &__auth {
        & button:not(&__avatar) {
            padding: 10px 31px;
            border-radius: 9999px;
            font-family: inherit;
        }

        @media screen and (max-width: $mobileBreakpoint) {
            display: none;
        }

        &__avatar {
            padding: 0;
            margin-left: 8px;
            img {
                --size: 36px;
                width: var(--size);
                height: var(--size);
                border-radius: 9999px;
            }
        }
    }

    &__registerbtn {
        @media screen and (max-width: $mobileBreakpoint) {
            display: none;
        }
    }

    &__search {
        @media screen and (max-width: $mobileBreakpoint) {
            display: none;
        }
    }

    &__mobilemenu {
        order: 3;
        user-select: none;
        margin: 0 24px;

        img {
            --size: 28px;
            width: var(--size);
            height: var(--size);
        }

        // отображение только на небольших экранах
        @media screen and (min-width: $mobileBreakpoint) {
            display: none;
        }
    }
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 3;
}

main{
    margin-top: 88px;
}
