@import "../../styles/base/variables.module.scss";

.header {
    width: 100%;
    padding-top: 14px;
    padding-bottom: 14px;

    @media (max-width: $mobileBreakpoint) {
        padding-top: 21px;
        padding-bottom: 22px;
    }

    &__logo {
        @media (max-width: $mobileBreakpoint) {
            img {
                width: 128px;
            }
        }
    }
    &__i18n {
        color: $fontWh;
        margin-left: 14px;
        font-weight: 400;
        button {
            display: flex;
            align-items: center;
            font-family: inherit;
            font-size: inherit;
            color: inherit;
        }
        @media (max-width: $mobileBreakpoint) {
            display: none;
        }
    }

    &__list {
        flex: 1 1 auto;
        gap: 24px;

        .header__href {
            color: rgba(255, 255, 255, 1);
            padding: 10px;
            text-align: center;
        }

        @media (max-width: $mobileBreakpoint) {
            display: none;
        }
    }

    &__auth {
        button {
            padding: 10px 31px;
            border-radius: 9999px;
            font-family: inherit;
        }
    }

    &__registerbtn {
        @media (max-width: $mobileBreakpoint) {
            display: none;
        }
    }
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: 3;
}