@import "../../styles/base/variables.module.scss";

.footer {
  gap: 144px;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
  }

  &__logo {
    user-select: none;
  }

  &__list {
    flex: 1 1 auto;
    display: flex;
    gap: 56px;

    @media (max-width: $mobileBreakpoint) {
      flex-direction: column;
    }

    .list__title {
      margin-bottom: 32px;
    }
    .list__item {
      flex-direction: column;
      gap: 17px;

      .footer__href {
        cursor: pointer;
      }
    }
  }
}
