<<<<<<< HEAD
=======
@import "../../styles/base/variables.module.scss";

#footer {
  margin-top: 20px;
}
>>>>>>> 910542ce421a86a555c7b48eb3f09d8a3d910a5c
.footer {
  gap: 144px;
  width: 100%;
  padding-top: 32px;

  @media (max-width: $mobileBreakpoint) {
    flex-direction: column;
  }

  &__list {
    flex: 1 1 auto;
    display: flex;
    gap: 56px;

    @media (max-width: $mobileBreakpoint) {
      flex-direction: column;
    }

    .list__title {
      margin-bottom: 32px;
    }
    .list__item {
      flex-direction: column;
      gap: 17px;

      .footer__href {
        cursor: pointer;
      }
    }
  }
}
