@import "../../styles/base/variables.module.scss";

.cardslist {
    margin: 0 auto;
    padding: 24px 20px;

    &__scrollable {
        overflow-x: auto;
        padding: 0 2px 12px 2px;
        gap: 8px;
    }

    @media (max-width: $mobileBreakpoint) {
        margin: 0 -20px;
        &__scrollable {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}