.adm_editShow {
  margin-left: auto;
  z-index: 100;
}
.adminedit__btn {
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin: 10px 0;

  button {
    padding: 18px 90.5px;
    border-radius: 38px;
    
  }

}

.hide {
  position: absolute;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.245);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
