// Сюда пишем переменные, которые потом будем использовать. 
// нейминг name.module.scss

// Размер шрифта
$font-SizeMain: 14px;
// $fontFamily1: ;

// backgroung // Header// Preview
$backgroundBl:  rgba(0, 28, 34, 1);
$backgroundYl:  rgba(255, 212, 53, 1);
$backgroundPr:  rgba(234, 235, 238, 1);
$backgroundGr:  rgba(245, 245, 245, 1);

$fontWh:rgba(255, 255, 255, 1);

//FontSize
$Fw700: 700;
$Fw400: 400;

$Lh123: 123px; 
$Lh41: 41px; 
$Lh32: 32px; 
$Lh22: 22px; 

$Fs96: 96px;
$Fs32: 32px;
$Fs24: 24px;